**Table of contents**<a id='toc0_'></a>    
- [<b>Import Libraries</b>](#toc1_)    
- [<b>1. Load Dataset</b>](#toc2_)    
  - [Load Configuration File](#toc2_1_)    
  - [Data Collection](#toc2_2_)    
- [<b>2. Data Validation </b>](#toc3_)    
  - [Types of Data](#toc3_1_)    
  - [Data Range](#toc3_2_)    
  - [<b>Data Dimension </b>](#toc3_3_)    
- [<b>Handling Columns Type</b>](#toc4_)    
  - [Check Dataset Type](#toc4_1_)    
- [<b>Handling data category</b>](#toc5_)   
<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc1_'></a>[<b>Import Libraries</b>](#toc0_)

In [19]:
from tqdm import tqdm
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import os
import yaml
import copy
import src.util as util
import warnings
warnings.filterwarnings('ignore')

# <a id='toc2_'></a>[<b>1. Load Dataset</b>](#toc0_)

In [5]:
dataset = pd.read_csv(r"insurance_claims.csv")

In [6]:
dataset

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

# <a id='toc3_'></a>[<b>2. Data Validation </b>](#toc0_)

## <a id='toc3_1_'></a>[Types of Data](#toc0_)

In [8]:
dataset.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
_c39                           float64
dtype: object

## <a id='toc3_2_'></a>[Data Range](#toc0_)

In [10]:
# some columns have minimum value of zero, this value has been encoded as a missing value 
# instead of None Value or Misig cell.
dataset.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,_c39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,203.954000,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000,NaN
std,115.113174,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861,NaN
min,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000,NaN
25%,115.750000,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000,NaN
50%,199.500000,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000,NaN
75%,276.250000,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000,NaN
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000,NaN

## <a id='toc3_3_'></a>[<b>Data Dimension </b>](#toc0_)

In [11]:
dataset.shape

(1000, 40)

# <a id='toc4_'></a>[<b>Handling Columns Type</b>](#toc0_)

Change <b>Capital-gains</b> and <b>capital-loss</b> column name

In [12]:
dataset =dataset.rename(columns = {'capital-gains':'capital_gains'})
dataset =dataset.rename(columns = {'capital-loss':'capital_loss'})

Convert dataset <i>datetime</i>, <br>
convert data type <b>float</b> into <b>int32</b>, <br> 
convert data type <b>int64</b> into <b>int32</b> and <br>
convert few of data type <b>int</b> into <b>object</b>

In [21]:
config_data = util.load_config()

In [22]:
def type_data(set_data):
    """Change raw dataset type.

    Convert raw dataset datetime, float into int, int64 to int32 and convert int columns into object
    """
    # --- Change datetime object ---#
    for col in config_data["datetime_columns"]:
        set_data[col] = pd.to_datetime(set_data[col])

    # --- Columns _c39 is not defined columns, then drop the columns -- #
    set_data = set_data.drop(columns = ['_c39'], axis=1)

    # --- change columns type policy_annual_premium columns into int64 ---#
    set_data = set_data.astype({col: 'int32' for col in set_data.select_dtypes('float64').columns})

    # --- convert int64 into int32 --- #
    set_data = set_data.astype({col: 'int32' for col in set_data.select_dtypes('int64').columns})

    # --- convert few of int columns into object --- #
    raw_dataset_date = set_data[config_data['datetime_columns']]
    raw_dataset_num = set_data[config_data['int32_col']]

    list_of_non_cat = config_data['int32_col'].copy()
    list_of_non_cat = list_of_non_cat + config_data['datetime_columns']

    raw_dataset_cat = set_data[config_data['object_columns']]
    raw_dataset_cat = raw_dataset_cat.astype(str)

    # --- Return raw dataset with datetime, numerical int, and category object --#
    raw_dataset = pd.concat([raw_dataset_date, raw_dataset_num, raw_dataset_cat], axis = 1)
    
    # --- Handle umbrella limit data --- #
    raw_dataset = raw_dataset.replace({'umbrella_limit': '-1000000'}, '1000000') 

    return raw_dataset

In [23]:
raw_dataset = type_data(dataset)

## <a id='toc4_1_'></a>[Check Dataset Type](#toc0_)

In [24]:
## Check dataset type of each features
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_bind_date             1000 non-null   datetime64[ns]
 1   incident_date                1000 non-null   datetime64[ns]
 2   months_as_customer           1000 non-null   int32
 3   age                          1000 non-null   int32
 4   policy_number                1000 non-null   int32
 5   policy_annual_premium        1000 non-null   int32
 6   insured_zip                  1000 non-null   int32
 7   capital_gains                1000 non-null   int32
 8   capital_loss                 1000 non-null   int32
 9   incident_hour_of_the_day     1000 non-null   int32
 10  total_claim_amount           1000 non-null   int32
 11  injury_claim                 1000 non-null   int32
 12  property_claim               1000 non-null   int32
 13  vehicle_claim                1000 non-null   int32
 14  policy_state                 1000 non-null   object
 15  policy_csl                   1000 non-null   object
 16  policy_deductable            1000 non-null   object
 17  umbrella_limit               1000 non-null   object
 18  insured_sex                  1000 non-null   object
 19  insured_hobbies              1000 non-null   object
 20  incident_type                1000 non-null   object
 21  collision_type               1000 non-null   object
 22  incident_severity            1000 non-null   object
 23  authorities_contacted        1000 non-null   object
 24  incident_state               1000 non-null   object
 25  incident_city                1000 non-null   object
 26  number_of_vehicles_involved  1000 non-null   object
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   object
 29  witnesses                    1000 non-null   object
 30  auto_year                    1000 non-null   object
 31  police_report_available      1000 non-null   object
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), int32(12), object(21)
memory usage: 226.7+ KB

In [25]:
## Sanity Check
raw_dataset.shape

(1000, 35)

# <a id='toc5_'></a>[<b>Handling data category</b>](#toc0_)

In [26]:
## Check categorical data
pd.set_option('display.max_rows', None)

pd.DataFrame(
        raw_dataset[raw_dataset.select_dtypes('object').columns.to_list()]
        .melt(var_name='columns', value_name='index')\
        .value_counts())\
        .sort_values(by=['columns',0])

                                                        0
columns                     index
authorities_contacted       None                       91
                            Ambulance                 196
                            Other                     198
                            Fire                      223
                            Police                    292
auto_make                   Honda                      55
                            Mercedes                   65
                            Jeep                       67
                            Volkswagen                 68
                            Accura                     68
                            Audi                       69
                            Toyota                     70
                            Ford                       72
                            BMW                        72
                            Chevrolet                  76
                            Nissan                     78
                            Dodge                      80
                            Suburu                     80
                            Saab                       80
auto_model                  RSX                        12
                            Accord                     13
                            M5                         15
                            X6                         16
                            3 Series                   18
                            C300                       18
                            Impreza                    20
                            CRV                        20
                            TL                         20
                            ML350                      20
                            Corolla                    20
                            Fusion                     21
                            Silverado                  22
                            Highlander                 22
                            Civic                      22
                            X5                         23
                            Ultima                     23
                            Maxima                     24
                            Escape                     24
                            Tahoe                      24
                            93                         25
                            Grand Cherokee             25
                            95                         27
                            E400                       27
                            F150                       27
                            Forrestor                  28
                            92x                        28
                            Camry                      28
                            Malibu                     30
                            Pathfinder                 31
                            A5                         32
                            Legacy                     32
                            Passat                     33
                            Jetta                      35
                            MDX                        36
                            Neon                       37
                            A3                         37
                            Wrangler                   42
                            RAM                        43
auto_year                   1996                       37
                            2004                       39
                            1998                       40
                            2001                       42
                            2000                       42
                            2014                       44
                            2008                       45
                            1997                       46
                            2012                       46
                            2015                       47
                            2013                       49
                            2002                       49
                            2009                       50
                            2010                       50
                            2003                       51
                            2007                       52
                            2011                       53
                            2006                       53
                            2005                       54
                            1999                       55
                            1995                       56
bodily_injuries             1                         328
                            2                         332
                            0                         340
collision_type              ?                         178
                            Front Collision           254
                            Side Collision            276
                            Rear Collision            292
fraud_reported              Y                         247
                            N                         753
incident_city               Northbrook                122
                            Riverwood                 134
                            Hillsdale                 141
                            Northbend                 145
                            Columbus                  149
                            Arlington                 152
                            Springfield               157
incident_severity           Trivial Damage             90
                            Major Damage              276
                            Total Loss                280
                            Minor Damage              354
incident_state              OH                         23
                            PA                         30
                            VA                        110
                            NC                        110
                            WV                        217
                            SC                        248
                            NY                        262
incident_type               Parked Car                 84
                            Vehicle Theft              94
                            Single Vehicle Collision  403
                            Multi-vehicle Collision   419
insured_hobbies             basketball                 34
                            cross-fit                  35
                            sleeping                   41
                            dancing                    43
                            chess                      46
                            polo                       47
                            board-games                48
                            skydiving                  49
                            base-jumping               49
                            video-games                50
                            hiking                     52
                            yachting                   53
                            kayaking                   54
                            movies                     55
                            golf                       55
                            camping                    55
                            bungie-jumping             56
                            paintball                  57
                            exercise                   57
                            reading                    64
insured_sex                 MALE                      463
                            FEMALE                    537
number_of_vehicles_involved 2                          30
                            4                          31
                            3                         358
                            1                         581
police_report_available     YES                       314
                            NO                        343
                            ?                         343
policy_csl                  500/1000                  300
                            100/300                   349
                            250/500                   351
policy_deductable           2000                      307
                            500                       342
                            1000                      351
policy_state                IN                        310
                            IL                        338
                            OH                        352
property_damage             YES                       302
                            NO                        338
                            ?                         360
umbrella_limit              1000000                     1
                            10000000                    2
                            2000000                     3
                            9000000                     5
                            8000000                     8
                            3000000                    12
                            7000000                    29
                            4000000                    39
                            5000000                    46
                            6000000                    57
                            0                         798
witnesses                   3                         243
                            0                         249
                            2                         250
                            1                         258

In [27]:
# --- Change ? category value into UNKNOWN
raw_dataset.collision_type = raw_dataset.collision_type.replace("?","UNKNOWN")
raw_dataset.property_damage = raw_dataset.property_damage.replace("?", "UNKNOWN")
raw_dataset.police_report_available = raw_dataset.police_report_available.replace("?", "UNKNOWN")
raw_dataset.authorities_contacted = raw_dataset.authorities_contacted.replace("None", "UNKNOWN")

In [28]:
# Check label data
raw_dataset.fraud_reported.value_counts(normalize=True)

N    0.753
Y    0.247
Name: fraud_reported, dtype: float64

In [40]:
raw_dataset

    policy_bind_date incident_date  months_as_customer  age  policy_number  \
0         2014-10-17    2015-01-25                 328   48         521585
1         2006-06-27    2015-01-21                 228   42         342868
2         2000-09-06    2015-02-22                 134   29         687698
3         1990-05-25    2015-01-10                 256   41         227811
4         2014-06-06    2015-02-17                 228   44         367455
5         2006-10-12    2015-01-02                 256   39         104594
6         2000-06-04    2015-01-13                 137   34         413978
7         1990-02-03    2015-02-27                 165   37         429027
8         1997-02-05    2015-01-30                  27   33         485665
9         2011-07-25    2015-01-05                 212   42         636550
10        2002-05-26    2015-01-06                 235   42         543610
11        1999-05-29    2015-02-15                 447   61         214618
12        1997-11-20    2015-01-22                  60   23         842643
13        2012-10-26    2015-01-08                 121   34         626808
14        1998-12-28    2015-01-15                 180   38         644081
15        1992-10-19    2015-01-29                 473   58         892874
16        2005-06-08    2015-02-22                  70   26         558938
17        2004-11-15    2015-01-06                 140   31         275265
18        2014-12-28    2015-01-19                 160   37         921202
19        1992-08-02    2015-02-22                 196   39         143972
20        2002-06-25    2015-01-01                 460   62         183430
21        2005-11-27    2015-02-10                 217   41         431876
22        1994-05-27    2015-01-11                 370   55         285496
23        1991-02-08    2015-01-19                 413   55         115399
24        1996-02-02    2015-02-24                 237   40         736882
25        2013-12-05    2015-01-09                   8   35         699044
26        1990-09-20    2015-01-28                 257   43         863236
27        2002-07-18    2015-01-07                 202   34         608513
28        1990-02-08    2015-01-08                 224   40         914088
29        2014-03-04    2015-02-15                 241   45         596785
30        2000-02-18    2015-01-18                  64   25         908616
31        2008-06-19    2015-02-28                 166   37         666333
32        2003-08-01    2015-02-24                 155   35         336614
33        1992-04-04    2015-01-09                 114   30         584859
34        1991-01-13    2015-02-12                 149   37         990493
35        2010-08-08    2015-01-24                 147   33         129872
36        2003-03-09    2015-01-09                  62   28         200152
37        1993-02-03    2015-01-18                 289   49         933293
38        2002-11-25    2015-01-21                 431   54         485664
39        1997-07-27    2015-01-08                 199   37         982871
40        1995-05-08    2015-01-03                  79   26         206213
41        2012-08-30    2015-01-01                 116   34         616337
42        2006-04-30    2015-01-16                  37   23         448961
43        2003-04-13    2015-02-10                 106   30         790442
44        2007-12-05    2015-02-14                 269   44         108844
45        2006-08-21    2015-02-21                 265   40         430029
46        1990-01-08    2015-02-18                 163   33         529112
47        1990-03-18    2015-01-10                 355   47         939631
48        2008-01-07    2015-02-26                 175   34         866931
49        1997-03-10    2015-01-01                 192   35         582011
50        2004-01-10    2015-01-03                 430   59         691189
51        1994-08-20    2015-01-17                  91   27         537546
52        2002-06-02    2015-02-22                 217   39         394975
53        1994-04-28    2015-01-27                 223   40         729634
54        2014-08-17    2015-02-27                 195   39         282195
55        2007-08-11    2015-01-06                  22   26         420810
56        2008-11-20    2015-02-28                 439   56         524836
57        1995-10-18    2015-02-22                  94   32         307195
58        1993-05-19    2015-01-07                  11   39         623648
59        2005-02-26    2015-01-06                 151   36         485372
60        1990-02-14    2015-01-10                 154   34         598554
61        1993-09-30    2015-02-11                 245   44         303987
62        2014-06-10    2015-01-12                 119   32         343161
63        2008-10-28    2015-02-06                 215   42         519312
64        2007-04-24    2015-01-20                 295   42         132902
65        1993-12-13    2015-02-22                 254   39         332867
66        2011-08-17    2015-01-30                 107   31         356590
67        1990-08-20    2015-02-02                 478   64         346002
68        1994-02-11    2015-01-10                 128   30         500533
69        1994-02-22    2015-02-27                 338   49         348209
70        2011-08-15    2015-02-20                 271   42         486676
71        1998-11-11    2015-02-08                 222   41         260845
72        1995-12-04    2015-02-11                 199   41         657045
73        2002-12-28    2015-02-23                 215   37         761189
74        2004-04-15    2015-03-01                 192   40         175177
75        2001-02-02    2015-01-15                 120   35         116700
76        2010-01-12    2015-01-14                 270   45         166264
77        1992-04-14    2015-02-17                 319   47         527945
78        2010-05-21    2015-01-24                 194   39         627540
79        2013-10-27    2015-01-21                 227   38         279422
80        1994-10-12    2015-02-19                 137   31         484200
81        1997-07-04    2015-01-03                 244   40         645258
82        2011-02-15    2015-01-29                  78   29         694662
83        1994-08-21    2015-01-19                 200   35         960680
84        1997-05-15    2015-01-19                 284   48         498140
85        1996-10-26    2015-02-02                 275   41         498875
86        2006-03-04    2015-01-30                 153   34         798177
87        1991-01-02    2015-01-08                 134   32         614763
88        1999-08-15    2015-01-30                  31   36         679370
89        1992-01-15    2015-01-07                  41   25         958857
90        1999-12-07    2015-02-24                 127   29         686816
91        1993-06-06    2015-02-02                  61   23         127754
92        2000-10-03    2015-02-28                 207   42         918629
93        2010-12-29    2015-02-09                 219   43         731450
94        1990-03-17    2015-01-19                 271   42         307447
95        2012-03-01    2015-02-21                  80   25         992145
96        2006-02-05    2015-01-14                 325   47         900628
97        2014-11-01    2015-01-22                  29   25         235220
98        2009-06-17    2015-02-22                 295   48         740019
99        1999-09-20    2015-01-26                 239   42         246882
100       1990-10-19    2015-01-24                 269   41         797613
101       1996-08-05    2015-02-19                  80   27         193442
102       2001-06-06    2015-01-29                 279   41         389238
103       2007-03-25    2015-02-15                 165   33         760179
104       2013-10-31    2015-02-12                 350   54         939905
105       1992-06-13    2015-01-01                 295   49         872814
106       1990-10-07    2015-01-13                 464   61         632627
107       1991-12-28    2015-03-01                 118   28         283414
108       1998-11-11    2015-02-02                 298   47         163161
109       2009-06-26    2015-01-27                  87   31         853360
110       2009-01-11    2015-01-12                 261   42         776860
111       2003-03-18    2015-01-06                 453   60         149367
112       2012-11-02    2015-01-30                 210   41         395269
113       2000-05-04    2015-03-01                 168   32         981123
114       1999-09-29    2015-02-24                 390   51         143626
115       1999-03-09    2015-01-24                 258   46         648397
116       1991-02-13    2015-02-26                 107   31         154982
117       1993-08-05    2015-01-19                 225   41         330591
118       1997-10-31    2015-01-17                 164   38         319232
119       2001-04-21    2015-02-20                 245   39         531640
120       2013-01-08    2015-02-22                 255   41         368050
121       2009-07-23    2015-01-23                 206   36         253791
122       1998-02-20    2015-01-31                 203   38         155724
123       2008-03-13    2015-01-05                  22   25         824540
124       1996-08-20    2015-02-03                 211   35         717392
125       2014-07-27    2015-02-17                 206   39         965768
126       1992-11-09    2015-01-09                 166   38         414779
127       2012-06-04    2015-02-08                 165   32         428230
128       2001-05-13    2015-02-06                 274   43         517240
129       2011-09-17    2015-01-14                  81   28         469874
130       2011-07-15    2015-01-22                 280   45         718428
131       2005-07-27    2015-02-23                 194   39         620215
132       2005-10-18    2015-02-22                 112   27         618659
133       1996-01-19    2015-01-24                  24   33         649082
134       2005-09-29    2015-02-09                  93   32         437573
135       1997-02-18    2015-01-19                 171   34         964657
136       2010-05-11    2015-01-01                 200   40         932502
137       2009-02-06    2015-01-07                 120   28         434507
138       2013-07-09    2015-02-01                 325   46         935277
139       1992-06-06    2015-02-21                 124   32         756054
140       1998-03-08    2015-01-21                 211   35         682387
141       2004-03-29    2015-01-19                 287   41         456604
142       2006-06-01    2015-02-27                 122   34         139872
143       1994-06-08    2015-02-14                  22   29         354105
144       1998-02-12    2015-02-01                 106   31         165485
145       2000-11-16    2015-02-02                 398   58         515050
146       2004-10-24    2015-02-01                 214   41         795686
147       2009-11-08    2015-01-19                 209   38         395983
148       1996-09-21    2015-02-18                  82   27         119513
149       1995-07-16    2015-02-08                 193   41         217938
150       2001-06-09    2015-01-09                 134   32         203914
151       2002-10-06    2015-02-27                 288   45         565157
152       1997-07-14    2015-01-08                 104   32         904191
153       1994-11-11    2015-01-08                 431   54         419510
154       2012-06-23    2015-02-24                 101   33         575000
155       2007-02-18    2015-02-12                 375   50         120485
156       2005-06-27    2015-02-18                 461   61         781181
157       1999-09-29    2015-02-06                 428   59         299796
158       2006-05-14    2015-02-14                  45   38         589749
159       2010-04-29    2015-02-05                 136   29         854021
160       1992-11-10    2015-01-25                 216   36         454086
161       1999-07-24    2015-01-16                 278   48         139484
162       1992-02-22    2015-01-28                 295   48         678849
163       2002-09-13    2015-01-21                 112   30         346940
164       2003-08-09    2015-01-07                 122   34         985436
165       2007-12-04    2015-02-23                 108   29         237418
166       2002-07-22    2015-02-14                  14   28         335780
167       1992-07-03    2015-02-27                 298   45         491392
168       2005-03-29    2015-02-21                 276   46         140880
169       2008-03-16    2015-01-05                  47   37         962591
170       1999-05-23    2015-01-30                 222   42         922565
171       2012-11-22    2015-02-26                 119   28         288580
172       1993-01-29    2015-01-10                  73   29         154280
173       2003-02-11    2015-02-23                   8   31         425973
174       1990-08-15    2015-02-05                 294   44         477177
175       2010-03-06    2015-01-21                 324   46         648509
176       1990-09-27    2015-01-07                 155   34         914815
177       2005-06-17    2015-01-11                 261   45         249048
178       2001-09-14    2015-02-06                 245   40         144323
179       2011-01-07    2015-01-24                 235   39         651861
180       2003-09-13    2015-02-18                  53   36         125324
181       1997-10-24    2015-01-12                 426   54         398102
182       2009-01-04    2015-01-17                 111   27         514065
183       1998-10-12    2015-01-12                  86   26         391652
184       1993-02-23    2015-01-06                 296   46         922167
185       1996-07-07    2015-02-25                 125   35         442795
186       2013-01-23    2015-02-16                 177   34         226330
187       2006-12-06    2015-02-25                 238   39         134430
188       2014-02-23    2015-02-21                  81   25         524230
189       2007-11-16    2015-02-16                 128   28         438817
190       1999-04-17    2015-02-09                 449   57         293794
191       2006-02-06    2015-02-13                 252   39         868283
192       1993-10-20    2015-01-11                 359   47         828890
193       2006-01-01    2015-01-02                  19   32         882920
194       2003-04-04    2015-02-12                  73   26         918777
195       2014-07-05    2015-02-05                 285   44         212580
196       1996-01-16    2015-01-24                 196   36         602410
197       2002-04-19    2015-01-12                 223   43         976971
198       2005-12-10    2015-01-16                 328   48         630226
199       1994-11-07    2015-01-13                 285   43         171254
200       2012-06-02    2015-02-02                  30   31         247116
201       1998-04-07    2015-02-28                 342   49         505969
202       2007-04-25    2015-01-18                 219   39         653864
203       2000-06-30    2015-02-15                 468   62         586367
204       1996-06-04    2015-01-31                 241   39         896890
205       2009-05-09    2015-02-10                 223   43         650026
206       2001-07-08    2015-02-26                 128   32         547744
207       1993-09-20    2015-02-25                 124   29         598124
208       2009-11-03    2015-01-08                 343   48         436126
209       2014-12-10    2015-01-14                 404   53         739447
210       1994-01-08    2015-02-03                  63   24         427484
211       2006-08-05    2015-01-05                 210   37         218684
212       2007-02-07    2015-01-24                 335   50         565564
213       2001-04-09    2015-01-26                  11   40         743163
214       1995-02-17    2015-01-21                 142   33         604614
215       1995-07-25    2015-02-06                 272   43         509928
216       2006-03-24    2015-01-07                  69   26         593390
217       1995-03-28    2015-02-10                  38   28         970607
218       1996-06-19    2015-02-23                 328   46         174701
219       1993-06-16    2015-01-09                 281   43         529398
220       2001-07-11    2015-02-22                 246   44         940942
221       2008-11-22    2015-02-21                 298   49         442677
222       2002-12-28    2015-02-04                 330   50         365364
223       2006-01-01    2015-01-07                 362   50         114839
224       1990-05-19    2015-01-17                 241   38         872734
225       2013-08-26    2015-01-28                 245   41         267885
226       1997-10-12    2015-02-22                 371   52         740505
227       2002-01-21    2015-02-16                 343   52         629663
228       1996-09-02    2015-02-17                 377   53         839884
229       2010-01-28    2015-01-09                 154   37         241562
230       2014-10-03    2015-02-09                 166   34         405533
231       2007-05-02    2015-02-16                 298   46         667021
232       1990-09-22    2015-02-18                 235   42         511621
233       2004-09-19    2015-01-11                 172   35         476923
234       1995-08-28    2015-02-04                  27   28         735822
235       2004-02-04    2015-01-22                 428   54         492745
236       2014-07-23    2015-01-10                  99   32         130930
237       1997-03-21    2015-01-10                 107   26         261119
238       1991-05-06    2015-02-16                 272   41         280709
239       1992-08-07    2015-02-08                 151   37         898573
240       2013-09-03    2015-01-26                 249   43         547802
241       2012-01-05    2015-02-01                 177   38         600845
242       2007-01-27    2015-02-02                 190   40         390381
243       2005-10-14    2015-02-06                 174   36         629918
244       1990-11-03    2015-01-01                  95   28         208298
245       2005-10-15    2015-01-19                 371   51         513099
246       1999-05-22    2015-01-17                   2   28         184938
247       2002-12-21    2015-02-01                 269   44         187775
248       2007-02-10    2015-01-02                 101   27         326322
249       2002-03-01    2015-02-20                  94   30         146138
250       2003-04-21    2015-02-05                 117   28         336047
251       2002-09-22    2015-02-27                 111   27         532330
252       1998-02-10    2015-01-27                 242   40         118137
253       1992-09-01    2015-01-26                 440   61         212674
254       1999-05-01    2015-01-13                  20   23         935596
255       1997-12-19    2015-01-14                 461   57         737593
256       2000-06-18    2015-02-22                 208   36         812025
257       1995-04-24    2015-01-17                 279   43         168151
258       2006-06-16    2015-02-02                 244   40         594739
259       2007-09-28    2015-01-07                 134   30         843227
260       1991-11-21    2015-02-02                 122   29         283925
261       1996-09-21    2015-02-07                 156   31         475588
262       2001-05-16    2015-01-18                 232   43         751905
263       1999-08-11    2015-01-10                 244   40         226725
264       2003-06-16    2015-01-30                  84   30         942504

In [ ]:
raw_dataset.to_excel(data_)