In [1]:
import pandas as pd

In [3]:
data1 = pd.read_csv(r"client_data.csv")

In [4]:
data1

,ID,exact_weather_condition_by_accident,exact_accident_location_per_claim,number_of_findings_with_potential_fraudster,exact_description_of_accidents_by_photo,contact_with_potential_fraudster_mechanic
0,MYNB48764759382421,1,1,5,Y,Y
1,ZIRW92411578156593,1,1,5,Y,N
2,POQI08016097535139,0,1,2,N,Y
3,HZEZ87115871484185,1,0,5,Y,Y
4,GZTR94719659342320,1,0,5,N,N
...,...,...,...,...,...,...
4995,KXEC85994025164535,1,1,4,Y,N
4996,FQGO30866084614088,1,0,5,Y,N
4997,VICF51634989536575,1,0,4,Y,Y
4998,OJKO28271411878755,1,1,3,N,N
4999,HGMS19343945699343,1,1,2,Y,N

In [5]:
data2 = pd.read_excel(r"data_client2.xlsx")

In [6]:
data2

,policy_bind_date,incident_date,months_as_customer,age,policy_number,policy_annual_premium,insured_zip,capital_gains,capital_loss,incident_hour_of_the_day,...,incident_city,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,auto_year,police_report_available,auto_make,auto_model,fraud_reported
0,2014-10-17,2015-01-25,328,48,521585,1406,466132,53300,0,5,...,Columbus,1,YES,1,2,2004,YES,Saab,92x,Y
1,2006-06-27,2015-01-21,228,42,342868,1197,468176,0,0,8,...,Riverwood,1,UNKNOWN,0,0,2007,UNKNOWN,Mercedes,E400,Y
2,2000-09-06,2015-02-22,134,29,687698,1413,430632,35100,0,7,...,Columbus,3,NO,2,3,2007,NO,Dodge,RAM,N
3,1990-05-25,2015-01-10,256,41,227811,1415,608117,48900,-62400,5,...,Arlington,1,UNKNOWN,1,2,2014,NO,Chevrolet,Tahoe,Y
4,2014-06-06,2015-02-17,228,44,367455,1583,610706,66000,-46000,20,...,Arlington,1,NO,0,1,2009,NO,Accura,RSX,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1991-07-16,2015-02-22,3,38,941851,1310,431289,0,0,20,...,Northbrook,1,YES,0,1,2006,UNKNOWN,Honda,Accord,N
996,2014-01-05,2015-01-24,285,41,186934,1436,608177,70900,0,23,...,Northbend,1,YES,2,3,2015,UNKNOWN,Volkswagen,Passat,N
997,2003-02-17,2015-01-23,130,34,918516,1383,442797,35100,0,4,...,Arlington,3,UNKNOWN,2,3,1996,YES,Suburu,Impreza,N
998,2011-11-18,2015-02-26,458,62,533940,1356,441714,0,0,2,...,Arlington,1,UNKNOWN,0,1,1998,YES,Audi,A5,N
999,1996-11-11,2015-02-26,456,60,556080,766,612260,0,0,6,...,Columbus,1,UNKNOWN,0,3,2007,UNKNOWN,Mercedes,E400,N

In [7]:
data2.columns

Index(['policy_bind_date', 'incident_date', 'months_as_customer', 'age',
       'policy_number', 'policy_annual_premium', 'insured_zip',
       'capital_gains', 'capital_loss', 'incident_hour_of_the_day',
       'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim',
       'policy_state', 'policy_csl', 'policy_deductable', 'umbrella_limit',
       'insured_sex', 'insured_hobbies', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'number_of_vehicles_involved', 'property_damage',
       'bodily_injuries', 'witnesses', 'auto_year', 'police_report_available',
       'auto_make', 'auto_model', 'fraud_reported'],
      dtype='object')

In [ ]:
data2 = data2[['incident_date', 'months_as_customer', 'age',
       'policy_number', 'policy_annual_premium', 'insured_zip',
       'capital_gains', 'capital_loss', 'incident_hour_of_the_day',
       'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim',
       'policy_state', 'policy_csl', 'policy_deductable', 'umbrella_limit',
       'insured_sex', 'insured_hobbies', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'number_of_vehicles_involved', 'property_damage',
       'bodily_injuries', 'witnesses', 'auto_year', 'police_report_available',
       'auto_make', 'auto_model', 'fraud_reported',]]